<ROOT>
  <source>
    @type forward
    port 24224
    bind "0.0.0.0"
  </source>
  <filter kube.**>
    @type record_transformer
    <record>
      hostname fluentd-5d788b9896-v5qb7
      tag ${tag}
    </record>
  </filter>
  <match **>
    @type elasticsearch
    @id out_es
    @log_level "info"
    host "100.64.23.124"
    port 9200
    logstash_prefix "logstash"
    logstash_dateformat "%Y.%m.%d"
    logstash_format true
    index_name "logstash"
    target_index_key ""
    type_name "fluentd"
  </match>
</ROOT>

